<div id="page-header" class="bg-gradient-9">
	<div id="mobile-navigation">
		<button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
		<a href="index.html" class="logo-content-small" title="Historical Event"></a>
	</div>
	<div id="header-logo" class="logo-bg">
		<a [routerLink]="['/']" class="logo-content-big" title="Historical Event"></a>
		<a [routerLink]="['/']" class="logo-content-small" title="Historical Event"></a>
		<a id="close-sidebar" title="Close sidebar">
			<i class="glyph-icon icon-angle-left"></i>
		</a>
	</div>
	<div id="header-nav-left">
	</div>
	<div id="header-nav-right">
		<div class="user-account-btn dropdown">
			<a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
				<img width="28" src="assets/images/avatar.png" alt="Profile image">
				<span>{{authService.getUser().name}}</span>
				<i class="glyph-icon icon-angle-down"></i>
			</a>
			<div class="dropdown-menu float-right">
				<div class="box-sm">
					<div class="login-box clearfix">
						<div class="user-img">
							<img src="assets/images/avatar.png" alt="">
						</div>
						<div class="user-info">
							<span>
								{{authService.getUser().name}}
							</span>
						</div>
					</div>
					<div class="divider"></div>
					<ul class="reset-ul mrg5B">
						<li>
							<a [routerLink]="['/change-password']">
								<i class="glyph-icon float-right icon-caret-right"></i> Change password
							</a>
						</li>
						<li>
							<a [routerLink]="['/update-profile']">
								<i class="glyph-icon float-right icon-caret-right"></i> Update profile
							</a>
						</li>
					</ul>
					<div class="pad5A button-pane button-pane-alt text-center">
						<a (click)="logout()" class="btn display-block font-normal btn-danger">
							<i class="glyph-icon icon-power-off"></i> Logout
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
