<div id="page-sidebar">
	<div class="scroll-sidebar">
		<ul id="sidebar-menu">
			<li class="header"><span>Users</span></li>
			<li>
				<a [routerLink]="['/users']" title="All Users">
					<i class="glyph-icon icon-users"></i>
					<span>All Users</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/user/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/update-profile']" title="Your Profile">
					<i class="glyph-icon icon-user"></i>
					<span>Your Profile</span>
				</a>
			</li>
			<li class="header"><span>Category</span></li>
			<li>
				<a [routerLink]="['/categories']" title="All Categories">
					<i class="glyph-icon icon-users"></i>
					<span>All Categories</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/category/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li class="header"><span>News</span></li>
			<li>
				<a [routerLink]="['/news']" title="All News">
					<i class="glyph-icon icon-calendar"></i>
					<span>All News</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/news/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li>
				<a href="#" title="Today Events">
					<i class="glyph-icon icon-calendar-o"></i>
					<span>Today Events</span>
				</a>
			</li>
			<li>
				<a href="#" title="Requesting Events">
					<i class="glyph-icon icon-bell"></i>
					<span>Requesting Events</span>
				</a>
			</li>
			<li class="header"><span>Ebooks</span></li>
			<li>
				<a [routerLink]="['/ebooks']" title="All Ebooks">
					<i class="glyph-icon icon-file-pdf-o"></i>
					<span>All Ebooks</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/ebook/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li class="header"><span>Media</span></li>
			<li>
				<a href="#" title="Library">
					<i class="glyph-icon icon-picture-o"></i>
					<span>Library</span>
				</a>
			</li>
			<li>
				<a href="#" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
		</ul>
	</div>
</div>
