<div id="page-sidebar">
	<div class="scroll-sidebar">
		<ul id="sidebar-menu">
			<li class="header"><span>Users</span></li>
			<li>
				<a [routerLink]="['/users']" title="All Users">
					<i class="glyph-icon icon-users"></i>
					<span>All Users</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/user/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li class="header"><span>Category</span></li>
			<li>
				<a [routerLink]="['/categories']" title="All Categories">
					<i class="glyph-icon icon-tags"></i>
					<span>All Categories</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/category/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li class="header"><span>News</span></li>
			<li>
				<a [routerLink]="['/news']" title="All News">
					<i class="glyph-icon icon-newspaper-o"></i>
					<span>All News</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/news/add-new']" title="Add New">
					<i class="glyph-icon icon-plus"></i>
					<span>Add New</span>
				</a>
			</li>
			<li>
				<a href="#" title="Today Events">
					<i class="glyph-icon icon-bullhorn"></i>
					<span>Hot News</span>
				</a>
			</li>
			<li class="header"><span>Profile</span></li>
			<li>
				<a [routerLink]="['/update-profile']" title="Your Profile">
					<i class="glyph-icon icon-user"></i>
					<span>Update Profile</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/change-password']" title="All News">
					<i class="glyph-icon icon-calendar"></i>
					<span>Change Password</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/news/add-new']" title="Add New">
					<i class="glyph-icon icon-sign-out"></i>
					<span>Logout</span>
				</a>
			</li>
			<li class="header"><span>More</span></li>
			<li>
				<a [routerLink]="['/403']" title="Your Profile">
					<i class="glyph-icon icon-warning"></i>
					<span>403</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/404']" title="Your Profile">
					<i class="glyph-icon icon-meh-o"></i>
					<span>404</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/500']" title="All News">
					<i class="glyph-icon icon-flash"></i>
					<span>500</span>
				</a>
			</li>
		</ul>
	</div>
</div>
