<full-layout>
	<div id="page-title">
		<h2>Add User</h2>
	</div>
	<div class="panel">
		<div class="panel-body">
			<h3 class="title-hero">
				User Instance
			</h3>
			<div class="example-box-wrapper">
				<form class="form-horizontal bordered-row" method="post" *ngIf="user" #updateForm="ngForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label class="col-sm-3 control-label">Username</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"  #username="ngModel" (blur)="searchByUsername()" placeholder="Username" />
							<span class="input-validation" *ngIf="!usernameValidation().stat && (username.dirty || username.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of usernameValidation().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"  #password="ngModel" placeholder="Password" />
							<span class="input-validation" *ngIf="!user.isPasswordValid().stat && (password.dirty || password.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of user.isPasswordValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Retype Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="rPassword" name="rPassword" [(ngModel)]="user.rPassword" #rPassword="ngModel" placeholder="Retype password" />
							<span class="input-validation" *ngIf="!user.isrPasswordValid().stat && (rPassword.dirty || rPassword.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of user.isrPasswordValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Full name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name"  #fullName="ngModel" placeholder="Full name" />
							<span class="input-validation" *ngIf="!user.isNameValid().stat && (fullName.dirty || fullName.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of user.isNameValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" (blur)="searchByEmail()" #email="ngModel" placeholder="Email" />
							<span class="input-validation" *ngIf="!emailValidation().stat && (email.dirty || email.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of emailValidation().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Phone Number</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="user.phone_number" value="{{user.phone_number}}" #phone_number="ngModel" placeholder="Phone number" />
							<span class="input-validation" *ngIf="!user.isPhoneNumberValid().stat"> 
								<ul>
									<li *ngFor="let e of user.isPhoneNumberValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group text-right">
						<div class="span7 col-sm-9">
							<button type="button" class="btn btn-default" (click)="goBack()">Back</button>
							<input type="submit" class="btn btn-primary" value="Save" />
						</div>
					</div>
				</form>
				<div *ngIf="!user">
					Loading...
				</div>
			</div>
		</div>
	</div>
</full-layout>
