<full-layout>
	<div id="page-title">
		<h2>Change Password</h2>
	</div>
	<div class="panel">
		<div class="panel-body">
			<h3 class="title-hero">
				Change Password
			</h3>
			<div class="example-box-wrapper">
				<form class="form-horizontal bordered-row" method="post" *ngIf="user" #updateForm="ngForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label class="col-sm-3 control-label">Current Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="current" name="current" [(ngModel)]="currentPassword"  #current="ngModel" placeholder="Current password" />
							<span class="input-validation" *ngIf="!isCurrentPasswordValid.stat && (current.dirty || current.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of isCurrentPasswordValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">New Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"  #password="ngModel" placeholder="Password" />
							<span class="input-validation" *ngIf="!user.isPasswordValid().stat && (password.dirty || password.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of user.isPasswordValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Confirm Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="rPassword" name="rPassword" [(ngModel)]="user.rPassword" #rPassword="ngModel" placeholder="Retype password" />
							<span class="input-validation" *ngIf="!user.isrPasswordValid().stat && (rPassword.dirty || rPassword.touched || isSubmited)"> 
								<ul>
									<li *ngFor="let e of user.isrPasswordValid().err">{{e}}</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="form-group text-right">
						<div class="span7 col-sm-9">
							<button type="button" class="btn btn-default" (click)="goBack()">Back</button>
							<input type="submit" class="btn btn-primary" value="Save" />
						</div>
					</div>
				</form>
				<div *ngIf="!user">
					Loading...
				</div>
			</div>
		</div>
	</div>
</full-layout>
